
{% extends "base.html" %} 



{% block content %}

<header>
    <title>Allocate | Gradrotate</title>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


  </header>

<main>
    <div class = "sidebar active">
        <div class = "logo_content">
            
        </div>
        <ul class="nav_list" style="padding-left:22px;">
        <li>
            <a href="../../admin_interface" class="active"> 
                <i class='bx bx-grid-alt bx-sm'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="../../admin_interface/interns"> 
                <i class='bx bx-user bx-sm'></i>
                <span class="links_name">Interns</span>
            </a>
        </li>
        <li>
            <a href="../../admin_interface/jobs"> 
                <i class='bx bx-briefcase bx-sm'></i>
                <span class="links_name">Jobs</span>
            </a>
        </li>
        </ul>
    </div>
    
    





    <div class="content">

        <div class="container-fluid" style = "padding: 5px 5px 5px;">
            <div class = "row justify-content-start">
                <div class = "col-1">
                    <p class="h3"style = "padding: 5px 5px 5px; color:#6c757d;">
                    <i class="fa fa-bars" id="btn1"></i>
                    </p>
                </div>
                <div class = "col-1">
                    <p class="h3" style = "padding: 5px 5px 5px; color:#6c757d;">Allocation</p>
                    
                </div>
                
            </div>
                
            
            
            <script>
                let btn = document.querySelector("#btn1");
                let sidebar = document.querySelector(".sidebar");
                btn.onclick = function() {
                    sidebar.classList.toggle("active");
                }



                google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(drawLogScales);
                var djangoData = {{ data|safe }};

                function drawLogScales() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('number', 'X');
                    data.addColumn('number', 'Interns');
                    data.addColumn('number', 'Managers');

                    data.addRows(
                        djangoData
                    );

                    var options = {
                        hAxis: {
                        title: 'Preference Ranking',
                        logScale: false,
                        gridlines: {
                            color: 'transparent'
                            },
                        },
                        
                        vAxis: {
                        title: 'Amount of Users',
                        logScale: false,
                        gridlines: {
                            color: 'transparent'
                            },
                        },
                        colors: ['#599a95', '#274b63'],
                        legend: {position: 'top', textStyle: {fontSize: 14}}
                    };

                    function resize () {
                            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                            chart.draw(data, options);
                        }
                    resize();
                
                    window.onresize = resize;

                    
                    }
    
            </script>
            

            <div class = "row">
                <div class="col-xl-6">
                    <div style="width: 100%;" id="chart_div"></div>
                        
                        <div class="row pt-4 g-0">
                            <div class="card border-0 mb-3">
                                <div class="card-body text-center"> 
                                <form method="POST" action="">
                                    <div class="row">

                                    
    
                                    {% csrf_token %}
                                    <div class="col-sm-auto">
                                        Notify Users of their Allocations Online:

                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="form-check form-switch">
                                            {{form.notify_allocations}}
                                        </div>

                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="hover-text float-end"><i class='bx bx-sm bx-info-circle' style = "color:#6c757d;"></i>
                                            <span class="tooltip-text" id="left">When logging on to the website in the Allocation Phase, Managers and Interns will be able to view their Allocations online
                                            </span>
                                          </div>

                                    </div>
                                </div>
                                    
                                    
                                    
                                    
    
                                </form>
                                </div>

                            </div>

                            
                            
                        </div>
                    
                    
                </div>
                <div class="col-xl-6">
                    <div class="card border-0 shadow-sm mb-3">
                        <div style = "overflow: auto; height:80vh;">
                            <table class="table" id="dtHorizontalVerticalExample" >
                                <tr>
                                    <th class="table-light">Intern</th>
                                    <th class="table-light">Job</th>
                                    <th class="table-light">Intern Email</th>
                                    <th class="table-light">Manager Email</th>
                                    
                                </tr>
                                {% for pair in allocated_pairs %}
                                    <tr>
                                        <td>{{pair.0}}</td>
                                        <td>{{pair.1}}</td>
                                        <td>{{pair.0.email}}</td>
                                        <td>{{pair.1.email}}</td>
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                        
                

                    </div>
                </div>
            </div>



            
        </div>



                
             
                    
    
    
    
</main> 

{% endblock %}

<script>
    $(document).ready(function () {
  $('#dtHorizontalVerticalExample').DataTable({
    "scrollX": true,
    "scrollY": 200,
  });
  $('.dataTables_length').addClass('bs-select');
});


</script>