

{% extends "base.html" %} 


{% load static %}
{% block content %}

<header>
    <title>Allocate Excel | Gradrotate</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </header>

<main>
    

    <div class = "sidebar active">
        <div class = "logo_content">
            
        </div>
        <ul class="nav_list" style="padding-left:22px;">
        <li>
            <a href="../../admin_interface" class="active"> 
                <i class='bx bx-grid-alt bx-sm'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="../../admin_interface/interns"> 
                <i class='bx bx-user bx-sm'></i>
                <span class="links_name">Interns</span>
            </a>
        </li>
        <li>
            <a href="../../admin_interface/jobs"> 
                <i class='bx bx-briefcase bx-sm'></i>
                <span class="links_name">Jobs</span>
            </a>
        </li>
        </ul>
    </div>
    <script>
        google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(drawLogScales);
                var djangoData = {{ data|safe }};

                function drawLogScales() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('number', 'X');
                    data.addColumn('number', 'Interns');
                    data.addColumn('number', 'Jobs');

                    data.addRows(
                        djangoData
                    );

                    var options = {
                        hAxis: {
                        title: 'Preference Choice',
                        logScale: false,
                        gridlines: {
                            color: 'transparent'
                            },
                        },
                        
                        vAxis: {
                        title: 'Number of Users',
                        logScale: false,
                        gridlines: {
                            color: 'transparent'
                            },
                        },
                        colors: ['#599a95', '#274b63'],
                        legend: {position: 'top', textStyle: {fontSize: 14}}
                    };

                    function resize () {
                            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                            chart.draw(data, options);
                        }
                    resize();
                
                    window.onresize = resize;

                    
                    }
    
            </script>


    <div class="content">
        <div class="container-fluid" >
            <div class = "row justify-content-start" style="background-color: #dde0e3;">
                <div class = "col-1">
                    <p class="h3"style = "padding: 5px 5px 5px; color:#565c62;">
                    <i class="fa fa-bars" id="btn1"></i>
                    </p>
                </div>
                <div class = "col-10">
                    <p class="h3" style = "padding: 5px 5px 5px; color:#565c62;">Allocate By Excel</p>
                
                </div>
            </div>
            {% if messages %}
                <div class="row">
                    <div class="col-xl-3 col-lg-3">

                    </div>
                    <div class="col-xl-4 col-lg-3">
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert"> {{message}} </div>
                    {% endfor %}
                    </div>
                    <div class="col-xl-5 col-lg-6">

                    </div>

                </div>
            {% endif %}
            
            <script>
                let btn = document.querySelector("#btn1");
                let sidebar = document.querySelector(".sidebar");
                btn.onclick = function() {
                    sidebar.classList.toggle("active");
                }
                function checkWidth() {
                // Check if window width is less than 510px
                if (window.innerWidth < 510) {
                    // Remove "active" class from sidebar
                    sidebar.classList.remove("active");
                }
            }

            // Check width on page load
            window.onload = checkWidth();
            //or
            window.addEventListener('load',checkWidth);
            // add event listener for window resize
            window.addEventListener("resize", checkWidth);
            </script>


        
            <div class="card border-0 shadow-sm m-3 p-2">
                <form action="" method="post" enctype="multipart/form-data">
                <div class="row text-center">

                    
                        {% csrf_token %}
                    <div class="col-xl-5 col-lg-5">
                        Download the template

                        <a href="{% static '/files/Allocation_template.xlsx' %}" download>
                            here
                        </a>
                         and upload the preferences excel to complete allocation

                    </div>
                    <div class="col-xl-5 col-lg-5">
                        
                            
                            <input class="form-control" id="formFileLg" type="file" name="excel_file" required="required">
                    </div>
                    <div class="col-xl-2 col-lg-2">
                            <input class= "save-button p-1" type="submit" value="Upload" style="width: 90px;">
                    </div>
            

                </div>
            </form>
            

            </div>
            
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    {% if allocated_pairs %}
                    
                    <div class="row text-center">
                        <h5 style="color: #6c757d;">
                            Statistics
                        </h5>
                        <div style="width: 100%;" id="chart_div"></div>

                    </div>
                    <div class="row justify-content-center pt-2">
                        <div class="col-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row text-center">
                                        
                                        <h5 style="color: #6c757d;">
                                            {{data_intern_match}}%
                                            
                                            
                                            
                                        </h5>
                                        

                                    </div>
                                    <div class="row text-center">
                                        <h6 style="color: #6c757d;">Intern match</h6>

                                    </div>
                                    
                                    

                                </div>
                                
                            </div>
                         
                        </div>
                        <div class="col-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row text-center">
                                        
                                        <h5 style="color: #6c757d;">
                                            {{data_job_match}}%
                                            
                                            
                                            
                                        </h5>
                                        

                                    </div>
                                    <div class="row text-center">
                                        <h6 style="color: #6c757d;">Job match</h6>

                                    </div>
                                    
                                    

                                </div>
                                
                            </div>
               
                            
                        </div>
                        <div class="col-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row text-center">
                                        
                                        <h5 style="color: #6c757d;">
                                            {{data_overall_match}}%
                                            
                                            
                                            
                                        </h5>
                                        

                                    </div>
                                    <div class="row text-center">
                                        <h6 style="color: #6c757d;">Overall match</h6>

                                    </div>
                                    
                                    

                                </div>
                                
                            </div>
                           
                        </div>




                    </div>
                    
                    




                    <h5 class="text-center pt-2" style="color: #6c757d;">Preferences</h5>

                    <div class="card border-0 p-2">
                        <div class="col-12">
                        <div class="btn-group">
                            
                                <input type="checkbox" class="btn-check" id="btn-check-2-outlined1" autocomplete="off" onclick="toggleDiv('intern_table')">
                                <label class="btn btn-outline-secondary" for="btn-check-2-outlined1">Intern preferences</label><br>
        



                                <input type="checkbox" class="btn-check" id="btn-check-2-outlined2" autocomplete="off" onclick="toggleDiv('job_table')">
                                <label class="btn btn-outline-secondary" for="btn-check-2-outlined2">Job preferences</label><br>       

                        </div>



                            
                        </div>
                    </div>
                    <div id="intern_table" style = "display: none;">

                        <div class="card border-0 mt-3">
                        
                            
                            <div style = "overflow-y: auto;">
                                
                            <table class="table" id="dtHorizontalVerticalExample" >
                            
                                <tr>
                                    <th class="table-light">Intern Pref.</th>
                                    {% for i in preference_number %}
                                        <th class="table-light">Pref. {{i}}</th>
                                    {% endfor %}
          
                                    
                                </tr>
                            
                            
                                    {% for intern, jobs in intern_preference.items %}
                                        <tr>
                                            <td style="min-width:100px">{{intern}}</td>
        
                                            {% for job in jobs %}
                                                <td style="min-width:100px">{{job}}</td>
                                            {% endfor %}                                    
              
                                        </tr>
                                    {% endfor %}
                                
                            </table>
                        </div>  
                        </div> 
                    </div>
                    <div id="job_table" style = "display: none;">
                        <div class="card border-0 mt-3">
                        
                            
                            <div style = "overflow-y: auto;">
                            <table class="table" id="dtHorizontalVerticalExample" >
                            
                                <tr>
                                    <th class="table-light">Job Pref.</th>
                                    {% for i in preference_number %}
                                        <th class="table-light">Pref. {{i}}</th>
                                    {% endfor %}
          
                                    
                                </tr>
                            
                                    {% for job, interns in job_preference.items %}
                                        <tr>
                                            <td style="min-width:100px">{{job}}</td>
        
                                            {% for intern in interns %}
                                                <td style="min-width:100px">{{intern}}</td>
                                            {% endfor %}                                    
              
                                        </tr>
                                    {% endfor %}
                                
                            </table>   
                        </div>
                        </div>      
                    </div>

                    <script>
                        function toggleDiv(DivID) {
                        var x = document.getElementById(DivID);
                        if (x.style.display === "block") {
                            x.style.display = "none";
                        } else {
                            x.style.display = "block";
                        }
                        }
                    </script>
                    <div class="row pt-4 g-0">
                        <div class="alert alert-secondary" style = "font-size: 13px; " role="alert">
                            <strong>Allocation Algorithm - {{admin.allocation_algorithm}}:</strong>
                                            <br>{{ algorithm_context|safe}}
                          </div>

                    </div>

                    {% endif %}
                    {% if not allocated_pairs %}
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <div class="alert alert-danger m-5 text-center" role="alert">
                                Upload an excel above!
                              </div>

                        </div>


                        
                    </div>
                    {% endif %}
                    


                    
    
                </div>
                <div class="col-xl-5 col-lg-5">
                    <h4 class="text-center" style="color: #6c757d;">Allocation</h4>
                    <div class="card border-0">
                        <div style = "overflow: auto; height:75vh;">
                            <table class="table" id="dtHorizontalVerticalExample" >
                                <tr>
                                    <th class="table-light">Intern</th>
                                    <th class="table-light">Job</th>
                                    
                                </tr>
                                {% for pair in allocated_pairs %}
                                    <tr>
                                        <td>{{pair.0}}</td>
                                        <td>{{pair.1}}</td>
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                    
                </div>

            </div>


            

     </div>
        



    </div>









                        
</main>
{% endblock %}