
{% extends "base.html" %} 



{% block content %}



<main>


        
    <div class = "sidebar active">
        <div class = "logo_content">
            
        </div>
        <ul class="nav_list" style="padding-left:22px;">
        <li>
            <a href="" class="active"> 
                <i class='bx bx-grid-alt bx-sm'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="../admin_interface/interns"> 
                <i class='bx bx-user bx-sm'></i>
                <span class="links_name">Interns</span>
            </a>
        </li>
        <li>
            <a href="../admin_interface/jobs"> 
                <i class='bx bx-briefcase bx-sm'></i>
                <span class="links_name">Jobs</span>
            </a>
        </li>
        </ul>
    </div>

    




    <div class="content">

    <div class="container-fluid" style = "padding: 5px 5px 5px;">
        <div class = "row justify-content-start">
            <div class = "col-1">
                <p class="h3"style = "padding: 5px 5px 5px; color:#6c757d;">
                <i class="fa fa-bars" id="btn1"></i>
                </p>
            </div>
            <div class = "col-1">
                <p class="h3" style = "padding: 5px 5px 5px; color:#6c757d;">Dashboard</p>
            
            </div>
        </div>
        
        <script>
            let btn = document.querySelector("#btn1");
            let sidebar = document.querySelector(".sidebar");
            btn.onclick = function() {
                sidebar.classList.toggle("active");
            }
        </script>




        {% if messages %}
        <div class="row">
            <div class="col-xl-3 col-lg-3">

            </div>
            <div class="col-xl-4 col-lg-3">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert"> {{message}} </div>
            {% endfor %}
            </div>
            <div class="col-xl-5 col-lg-6">

            </div>

        </div>
        {% endif %}

        
        
        <div class = "row">
            <div class="col-xl-3 col-lg-3">
                <div class="col text-center">
                    Statistics
                </div>
                
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-body p-1 p-sm-5">
                        <h5 class="card-title fs-12" style = "color:#6c757d;">Total users</h5>
                        <i class="fa fa-regular fa-user float-end fa-2x" style = "color:#d3d6d8"></i>
                        <h2 style = "color:#6c757d;">{{users}}</h2>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-body p-1 p-sm-5">
                        <h5 class="card-title fs-12" style = "color:#6c757d;">Intern users</h5>
                        
                        <i class="fa fa-regular fa-graduation-cap float-end fa-2x" style = "color:#d3d6d8"></i>
                        <h2 class="my-2"style = "color:#6c757d;">{{interns.count}}</h2>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-body p-1 p-sm-5">
                        <h5 class="card-title fs-12" style = "color:#6c757d;">Jobs</h5>
                        <i class="fa fa-solid fa-briefcase float-end fa-2x" style = "color:#d3d6d8"></i>
                        <h2 class="my-2"style = "color:#6c757d;">{{jobs.count}}</h2>
                    </div>
                </div>
                






            </div>
            <div class="col-xl-4 col-lg-3">
                <div class="col text-center">
                    Phases
                </div>
                


                
                <div class="card border-0 shadow-sm mb-3">
                        <div class="card-body p-4">
                            <h5 class="card-title fs-12" style = "color:#6c757d;">Select Phase:</h5>
                        <form method="POST" action="">
    
                            {% csrf_token %}
                            <div class="switch-field justify-content-center">
                            {% for checkbox in form.phase %}
    
                                {{ checkbox.tag }}
                                
    
                                <label for="id_phase_{{ forloop.counter0 }}">{{ checkbox.choice_label }} ></label> 
    
                            {% endfor %}
                            
                            </div>
                            
                            
                        </form>
                    </div>
                        
                </div>
                <div class="card border-0 shadow-sm mb-3 p-0">
                    <div class="card-body p-4">
                        <h5 class="card-title fs-12" style = "color:#6c757d;">Automate Phase:</h5>

                        

                    <form method="POST" action="">
    
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-auto">          
                                    Toggle timed phases:
                            </div>
                            <div class="col">
                                    <div class="form-check form-switch">
                                        {{automatic_phase.automate_phase}}
                                    </div>
                            </div>
                        </div>
                        <div style="color:#6c757d;">
                        
                        <div class="row p-1">
                            <div class="col-md-auto">  
                                Job creation:
                            </div>
                            <div class="col">
                                {{automatic_phase.job_creation_date}}
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-md-auto">  
                                Intern collection:    
                            </div>
                            <div class="col">
                                {{automatic_phase.intern_creation_date}}
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-md-auto">  
                                Allocation:      
                            </div>
                            <div class="col">
                                {{automatic_phase.allocation_creation_date}}
                            </div>
                        </div>
                    </div>
                    

                            
                            

                            
                          
                   


                    <button class="toggle-create-skills-button text-center" type="submit" name ="Submit_phase" value="Next" onclick="">Update</button>
                    
                </form>
                    </div>
                
                    






                </div>

                <div class="card border-0 shadow-sm mb-3">
                    
                    <div class="card-body p-1 p-sm-5">
                        <h5 class="card-title fs-12" style = "color:#6c757d;">Allocation:</h5>
                        <div class="row justify-content-center">
                            <a class="save-button p-3 m-1 text-center" style="text-decoration:none" href="../admin_interface/allocate"> Allocate </a>
                        </div>
                        <div class="row justify-content-center">
                            <a class="save-button p-3 m-1 text-center" style="text-decoration:none" href="../admin_interface/allocate/excel"> Allocate by Excel </a>
                        </div>
                
                
                
                    
                        
                        
                    </div>
                </div>
            </div>



            <div class="col-xl-5 col-lg-6"> 
                <div class="col text-center">
                    Settings
                </div>   

                

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-body p-4">
                        <h5 class="card-title fs-12" style = "color:#6c757d;">Edit Offices:</h5>
                        
                        <div style = "overflow-y: auto;">
                        <table class="table mt-2" id="dtHorizontalVerticalExample" >
                            
                            <tr>
                                <th class="table-light">Office</th>
                                <th class="table-light">Delete</th>
    
                            </tr>
                        
                        
                                {% for office in locations %}
                                    <tr>
                                        <td style="min-width:100px">{{office.location}}</td>
                                        <td style="min-width:100px"><a href="{% url 'deleteOffice' office.id %}">Delete</a></td>                          
                                        
                                    </tr>
                                {% endfor %}
                           
                        </table>   
                    </div>
         
                    <div style = "display: flex; justify-content: center;">
                        <button type="button" class="toggle-create-skills-button text-center" data-bs-toggle="button" autocomplete="off" id="add_office_btn" onclick="toggleDiv('add_office')">+ Add new office</button>
                    </div>
                    <div id="add_office" style = "display: none;">

                        <form method="POST" action="">
                            {% csrf_token %}
                            
                            <div class="row justify-content-center">
                                
                                <div class="create-skills">
                                    <div class="col-4 p-1">
                                        {{additional_office.location}}
                                    </div>
                                    <div class="col-7 p-1">
                                        {{additional_office.address}}
                                    </div>
                                    <div class="col-1 text-center">
                                        <button class="create-skills-button" type="submit" name ="Submit_office" value="Next">+</button>
                                    </div>
                        
                                </div>
                                
                            </div>
                            
                            

                        
                    </form>
                    </div>
                    </div>
                </div>
                <script>
                    const btn2 = document.getElementById('add_office_btn');
                
                    btn2.addEventListener('click', () => {
                    // 👇️ hide button
                        btn2.style.display = 'none';
                    });
                    function toggleDiv(DivID) {
                    var x1 = document.getElementById(DivID);
                    if (x1.style.display === "block") {
                        x1.style.display = "none";
                    } else {
                        x1.style.display = "block";
                    }
                    }
                
                </script>
                
                <div class="card border-0 shadow-sm mb-3">
                    
                    <div class="card-body p-4">
                        <h5 class="card-title fs-12" style = "color:#6c757d;">Edit Skills:</h5>
                        
                        <div class = "row justify-content-center mt-2">
                            <div class="col-10 text-center">
                        

                                <button type="butoryton" class="btn btn-warning mb-1 active" data-bs-toggle="button"  id="toggleCoding" autocomplete="off">Coding</button>
                                <button type="button" class="btn btn-warning mb-1" data-bs-toggle="button"  id="toggleAnalytic" autocomplete="off">Analytic</button>
                                <button type="button" class="btn btn-warning mb-1" data-bs-toggle="button"  id="toggleMarketing" autocomplete="off">Marketing</button>
                                <button type="button" class="btn btn-warning mb-1" data-bs-toggle="button"  id="toggleManagement" autocomplete="off">Management</button>
                                <button type="button" class="btn btn-warning mb-1" data-bs-toggle="button"  id="toggleLeadership" autocomplete="off">Leadership</button>
                                <button type="button" class="btn btn-warning mb-1" data-bs-toggle="button"  id="toggleBusiness" autocomplete="off">Business</button>
                                <button type="button" class="btn btn-warning mb-1" data-bs-toggle="button"  id="toggleAdmin" autocomplete="off">Admin</button>
                

                   

                            </div>
                        </div>


                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                        <script>
                            $(document).ready(function(){
                                $('#toggleCoding').on('click',function(){	
                                    $('.toggleCoding').toggle();
                                });
                                
                            });
                            $(document).ready(function(){
                                $('#toggleAnalytic').on('click',function(){	
                                    $('.toggleAnalytic').toggle();
                                });
                            });
                            $(document).ready(function(){
                                $('#toggleMarketing').on('click',function(){	
                                    $('.toggleMarketing').toggle();
                                });
                            });
                            $(document).ready(function(){
                                $('#toggleManagement').on('click',function(){	
                                    $('.toggleManagement').toggle();
                                });
                            });
                            $(document).ready(function(){
                                $('#toggleLeadership').on('click',function(){	
                                    $('.toggleLeadership').toggle();
                                });
                            });
                            $(document).ready(function(){
                                $('#toggleBusiness').on('click',function(){	
                                    $('.toggleBusiness').toggle();
                                });
                            });
                            $(document).ready(function(){
                                $('#toggleAdmin').on('click',function(){	
                                    $('.toggleAdmin').toggle();
                                });
                            });

                        </script>
                        <div id="coding_skills" style = "display : block;">
                            <div style = "overflow-y: auto;">
                                <table class="table" id="dtHorizontalVerticalExample" >
                                    
                                    <tr>
                                        <th class="table-light">Skill</th>
                                        <th class="table-light">Delete</th>
            
                                    </tr>
                                
                                
                                        {% for computing_skill in computing_skills %}
                                            <tr class="toggleCoding">
                                                <td style="min-width:100px">{{computing_skill.name}}</td>
                                                <td style="min-width:100px"><a href="{% url 'deleteSkillComputing' computing_skill.id %}">Delete</a></td>                          
                                                
                                            </tr>
                                        {% endfor %}
                                        {% for analytic_skill in analytic_skills %}
                                            <tr class="toggleAnalytic" style="display: none;">
                                                <td style="min-width:100px;">{{analytic_skill.name}}</td>
                                                <td style="min-width:100px;"><a href="{% url 'deleteSkillAnalytic' analytic_skill.id %}">Delete</a></td>                          
                                                
                                            </tr>
                                        {% endfor %}
                                        {% for marketing_skill in marketing_skills %}
                                            <tr class="toggleMarketing" style="display: none;">
                                                <td style="min-width:100px;">{{marketing_skill.name}}</td>
                                                <td style="min-width:100px;"><a href="{% url 'deleteSkillMarketing' marketing_skill.id %}">Delete</a></td>                          
                                                
                                            </tr>
                                        {% endfor %}
                                        {% for management_skill in management_skills %}
                                            <tr class="toggleManagement" style="display: none;">
                                                <td style="min-width:100px;">{{management_skill.name}}</td>
                                                <td style="min-width:100px;"><a href="{% url 'deleteSkillManagement' management_skill.id %}">Delete</a></td>                          
                                                
                                            </tr>
                                        {% endfor %}
                                        {% for leadership_skill in leadership_skills %}
                                            <tr class="toggleLeadership" style="display: none;">
                                                <td style="min-width:100px;">{{leadership_skill.name}}</td>
                                                <td style="min-width:100px;"><a href="{% url 'deleteSkillLeadership' leadership_skill.id %}">Delete</a></td>                          
                                                
                                            </tr>
                                        {% endfor %}
                                        {% for business_skill in business_skills %}
                                            <tr class="toggleBusiness" style="display: none;">
                                                <td style="min-width:100px;">{{business_skill.name}}</td>
                                                <td style="min-width:100px;"><a href="{% url 'deleteSkillBusiness' business_skill.id %}">Delete</a></td>                          
                                                
                                            </tr>
                                        {% endfor %}
                                        {% for admin_skill in admin_skills %}
                                            <tr class="toggleAdmin" style="display: none;">
                                                <td style="min-width:100px;">{{admin_skill.name}}</td>
                                                <td style="min-width:100px;"><a href="{% url 'deleteSkillAdmin' admin_skill.id %}">Delete</a></td>                          
                                                
                                            </tr>
                                        {% endfor %}



                                    
                                </table>   
                            </div>

                        </div>
                        <div class="row justify-content-center mb-3 mt-3">
                            <div style = "display: flex; justify-content: center;">
                                <button type="button" class="toggle-create-skills-button text-center" data-bs-toggle="button" autocomplete="off" id="add_skills_btn" onclick="toggleDiv('add_skills')">+ Add new skills</button>
                            </div>
                        </div>


                        <script>
                            const btn3 = document.getElementById('add_skills_btn');
                    
                            btn3.addEventListener('click', () => {
                            // 👇️ hide button
                                btn3.style.display = 'none';
                            });
                    
                        </script>

                        
                        <div id="add_skills" style = "display: none;">
                            <form method="POST" action="">
                        
                                {% csrf_token %}
                                <div class="row justify-content-center mb-3">
                                    <div class="create-skills">
                                        <div class="col-6 p-1">
                                            {{additional_skills.name}}
                                        </div>
                                        <div class="col-5 p-1">
                                            {{additional_skills.skill_category}}
                                        </div>
                                        <div class="col-1 text-center">
                                            <button class="create-skills-button" type="submit" name ="Submit_skills" value="Next">+</button>
                                        </div>
                            
                                    </div>
                                </div>
                                
                        
                            </form>
                            </div>










    
                            
                    </div>
                    </div>
                </div>
                    
                





        </div>

                
            

            </div>
        </div>
        
        </div>

</div>
    
</main> 

{% endblock %}
