{% extends "base.html" %} 


{% block content %}



<main>
    <div class="sidebar">
        <a href="../../admin_interface">Dashboard</a>
        <a class="active">Interns</a>
        <a href="../../../admin_interface/jobs">Jobs</a>
        
    </div>
    <div class="content">
        <div class="container-fluid" style = "padding: 5px 5px 5px;">
            <div class = "row">
                <div class = "col-12">
                    <p class="h3" style = "padding: 5px 5px 5px; color:#6c757d;">Intern Dashboard</p>
                </div>
            </div>

            

            <div class = "row">
                
                <div class = "card card-body border-0 shadow-sm mb-5">
                    <div style = "overflow-y: auto;">
                    <table class="table" id="dtHorizontalVerticalExample" >
                        
                        <tr>
                            <th class="table-light">Name</th>
                            <th class="table-light">Email</th>
                            
                            {% for job in jobs %}
                                <th class="table-light">{{forloop.counter}}</th>
                            {% endfor %}

                            <th class="table-light">Progress</th>
                            <th class="table-light">Delete</th>
                        </tr>
                    
                    <tbody>
                            {% for intern, jobs in intern_preference.items %}
                                <tr>
                                    <td style="min-width:100px">{{intern.name}}</td>
                                    <td style="min-width:100px">{{intern.email}}</td>

                                    {% for job in jobs %}
                                        <td style="min-width:100px">{{job}}</td>
                                    {% endfor %}

                                    <td style="min-width:150px">
                                        {% if intern.progress == 3 %}
                                        <progress value="{{intern.progress}}" max="3"> </progress>
                                        {% else %}
                                        <progress value="{{intern.progress}}" max="3"> </progress>
                                        {% endif %}

                                        </td>
                                    <td style="min-width:100px"><a href="{% url 'deleteIntern' intern.id %}">Delete</a></td>
                                    
      
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>   
                </div>
                    </div>
            </div>
        </div>
    </div>





</main> 

{% endblock %}
<script>
    $(document).ready(function () {
  $('#dtHorizontalVerticalExample').DataTable({
    "scrollX": true,
    "scrollY": 200,
  });
  $('.dataTables_length').addClass('bs-select');
});
</script>