{% extends "base.html" %} 


{% block content %}



<main>

    
    <div class = "sidebar active">
        <div class = "logo_content">
            
        </div>
        <ul class="nav_list" style="padding-left:22px;">
        <li>
            <a href="../../admin_interface"> 
                <i class='bx bx-grid-alt bx-sm'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="" class="active"> 
                <i class='bx bx-user bx-sm'></i>
                <span class="links_name">Interns</span>
            </a>
        </li>
        <li>
            <a href="../../../admin_interface/jobs"> 
                <i class='bx bx-briefcase bx-sm'></i>
                <span class="links_name">Jobs</span>
            </a>
        </li>
        </ul>
    </div>















    




    <div class="content">
        <div class="container-fluid" style = "padding: 5px 5px 5px;">
            <div class = "row justify-content-start">
                <div class = "col-1">
                    <p class="h3"style = "padding: 5px 5px 5px; color:#6c757d;">
                    <i class="fa fa-bars" id="btn1"></i>
                    </p>
                </div>
                <div class = "col-1">
                    <p class="h3" style = "padding: 5px 5px 5px; color:#6c757d;">Interns</p>
                
                </div>
            </div>
            <script>
                let btn = document.querySelector("#btn1");
                let sidebar = document.querySelector(".sidebar");
                btn.onclick = function() {
                    sidebar.classList.toggle("active");
                }
        
            </script>
            

            <div class = "row">
                
                <div class = "card card-body border-0 shadow-sm mb-5">
                    <div style = "overflow-y: auto;">
                    <table class="table" id="dtHorizontalVerticalExample" >
                        
                        <tr>
                            <th class="table-light">Name</th>
                            <th class="table-light">Email</th>

                            <th class="table-light">Progress</th>
                            <th class="table-light">Delete</th>
                            
                            {% for job in jobs %}
                                <th class="table-light">Pref. {{forloop.counter}}</th>
                            {% endfor %}

                            
                        </tr>
                    
                    <tbody>
                            {% for intern, jobs in intern_preference.items %}
                                <tr>
                                    <td style="min-width:100px">{{intern.name}}</td>
                                    <td style="min-width:100px">{{intern.email}}</td>

                                    <td style="min-width:150px">
                                        {% if intern.progress == 3 %}
                                        <progress value="{{intern.progress}}" max="3"> </progress>
                                        {% else %}
                                        <progress value="{{intern.progress}}" max="3"> </progress>
                                        {% endif %}

                                        </td>
                                    <td style="min-width:100px"><a href="{% url 'deleteIntern' intern.id %}">Delete</a></td>

                                    {% for job in jobs %}
                                        <td style="min-width:100px">{{job}}</td>
                                    {% endfor %}

                                    
                                    
      
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>   
                </div>
                    </div>
            </div>
        </div>
    </div>





</main> 

{% endblock %}
<script>
    $(document).ready(function () {
  $('#dtHorizontalVerticalExample').DataTable({
    "scrollX": true,
    "scrollY": 200,
  });
  $('.dataTables_length').addClass('bs-select');
});
</script>