
{% extends "base.html" %} 



{% block content %}



<main>


        
    <div class = "sidebar active">
        <div class = "logo_content">
            
        </div>
        <ul class="nav_list" style="padding-left:22px;">
        <li>
            <a href="" class="active"> 
                <i class='bx bx-grid-alt bx-sm'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="../admin_interface/interns"> 
                <i class='bx bx-user bx-sm'></i>
                <span class="links_name">Interns</span>
            </a>
        </li>
        <li>
            <a href="../admin_interface/jobs"> 
                <i class='bx bx-briefcase bx-sm'></i>
                <span class="links_name">Jobs</span>
            </a>
        </li>
        </ul>
    </div>

    




    <div class="content">

    <div class="container-fluid" style = "padding: 5px 5px 5px;">
        <div class = "row justify-content-start">
            <div class = "col-1">
                <p class="h3"style = "padding: 5px 5px 5px; color:#6c757d;">
                <i class="fa fa-bars" id="btn1"></i>
                </p>
            </div>
            <div class = "col-1">
                <p class="h3" style = "padding: 5px 5px 5px; color:#6c757d;">Dashboard</p>
            
            </div>
        </div>
        
        <script>
            let btn = document.querySelector("#btn1");
            let sidebar = document.querySelector(".sidebar");
            btn.onclick = function() {
                sidebar.classList.toggle("active");
            }
        </script>







    
        <div class = "row">
            <div class="col-xl-3 col-lg-4">
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-body p-1 p-sm-5">
                        <h5 class="card-title fs-12" style = "color:#6c757d;">Intern users</h5>
                        <i class="fa fa-regular fa-user float-end fa-2x" style = "color:#d3d6d8"></i>
                        <h2 class="my-2"style = "color:#6c757d;">{{interns.count}}</h2>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-body p-1 p-sm-5">
                        <h5 class="card-title fs-12" style = "color:#6c757d;">Jobs</h5>
                        <i class="fa fa-solid fa-briefcase float-end fa-2x" style = "color:#d3d6d8"></i>
                        <h2 class="my-2"style = "color:#6c757d;">{{jobs.count}}</h2>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-body p-1 p-sm-5">
                        <button><a href="../admin_interface/allocate"> Allocate Jobs </a></button>
                        
                    </div>
                </div>






                </div>
            <div class="col-xl-9 col-lg-8">
                <div class = "card card-body">
                    <form method="POST" action="">

                        {% csrf_token %}
                        {{form.as_p}}
                        <ul class="donate-now">
                        {% for checkbox in form.phase %}

                            {{ checkbox.tag }}


                            <label class="btn btn-outline-warning m-1" for="id_phase_{{ forloop.counter0 }}">{{ checkbox.choice_label }}</label><br>   

                        {% endfor %}
                        </ul>


                        <!--
                        <label for="id_phase_0" class="btn">Job Creation</label>
                        <label for="id_phase_1" class="btn">Intern Collection</label>
                        <label for="id_phase_2" class="btn">Allocation</label>
                        -->


                        <input type="Submit" name ="Submit">
                        {{form.errors}}
                        {% for message in messages %}
                            <div class="alert alert-dark" role="alert"> {{message}} </div>
                        {% endfor %}

                    </form>
                    
                </div>
            </div>

                
            

            </div>
        </div>
        
        </div>

</div>
    
</main> 

{% endblock %}
