{% extends "base.html" %} 


{% block content %}

<header>
    <title>Admin Interface | Gradrotate</title>
  </header>

<main>



    <div class = "sidebar active">
        <div class = "logo_content">
            
        </div>
        <ul class="nav_list" style="padding-left:22px;">
        <li>
            <a href="../../admin_interface"> 
                <i class='bx bx-grid-alt bx-sm'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="../../../admin_interface/interns"> 
                <i class='bx bx-user bx-sm'></i>
                <span class="links_name">Interns</span>
            </a>
        </li>
        <li>
            <a href=""  class="active"> 
                <i class='bx bx-briefcase bx-sm'></i>
                <span class="links_name">Jobs</span>
            </a>
        </li>
        </ul>
    </div>




    <div class="content">
        <div class="container-fluid" >
            <div class = "row justify-content-start" style="background-color: #dde0e3;">
                <div class = "col-1">
                    <p class="h3"style = "padding: 5px 5px 5px; color:#565c62;">
                    <i class="fa fa-bars" id="btn1"></i>
                    </p>
                </div>
                <div class = "col-1">
                    <p class="h3" style = "padding: 5px 5px 5px; color:#565c62;">Jobs</p>
                
                </div>
            </div>
            <script>
                let btn = document.querySelector("#btn1");
                let sidebar = document.querySelector(".sidebar");
                btn.onclick = function() {
                    sidebar.classList.toggle("active");
                }
                function checkWidth() {
                // Check if window width is less than 510px
                if (window.innerWidth < 510) {
                    // Remove "active" class from sidebar
                    sidebar.classList.remove("active");
                }
            }

            // Check width on page load
            window.onload = checkWidth();
            //or
            window.addEventListener('load',checkWidth);
            // add event listener for window resize
            window.addEventListener("resize", checkWidth);
        
            </script>
            
            <div class = "row pt-4">
                <div class = "card card-body border-0 shadow-sm mb-5">
                    <div style = "overflow-y: auto;">
                    <table class="table" id="dtHorizontalVerticalExample" >
                        <tr>
                            <th class="table-light">Job</th>
                            <th class="table-light">Manager Name</th>
                            <th class="table-light">Manager Email</th>

                            <th class="table-light">Progress</th>
                            <th class="table-light">Delete</th>

                            {% for intern in interns %}
                                <th class="table-light">Pref. {{forloop.counter}}</th>
                            {% endfor %}

                            
                        </tr>

                        <tbody>
                            {% for job, interns in job_preference.items %}
                                <tr>
                                    <td style="min-width:100px">{{job.name}}</td>
                                    <td style="min-width:100px">{{job.manager_name}}</td>
                                    <td style="min-width:100px">{{job.email}}</td>

                                    <td style="min-width:150px">
                                        
                                        <progress value="{{job.progress}}" max="5"> </progress>
                                        
                                        </td>
                                    <td style="min-width:100px"><a href="{% url 'interface:deleteJob' job.id %}">Delete</a></td>

                                    {% for intern in interns %}
                                        <td style="min-width:100px">{{intern}}</td>
                                    {% endfor %}

                                    
                                    
      
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>

                    
                </div>
                        
                </div>
            </div>
        </div>
    </div>

</main> 

{% endblock %}