*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    
}



body{
    background-color: #fafbfe;;
}
main{
    margin-top: 8vh;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #fafbfe;;
    height:92vh;
}

/* JOB CARD */
.card-container{
  display: inline-block;
  
}

.job-card{
    padding: 1rem;
    min-width: 70%;
    background-color:white

    
}

.job-card-body{
    font-size: .8rem;
}


.job-card-title{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}


.job-card-text{
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60ch;
}

.job-card-footer{
    margin-top: 1rem;
}

.job-card-deck{
    display: grid;
    align-items: flex-start;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(410px,1fr));
}









/* NAV BAR */ 
 
.nav-bar{
    background: white;
    height: 8vh;
    width: 100%;
    top: 0vh;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    position: fixed;
    display: inline-block;
    z-index: 10;
}

.message{
    color: #89969d;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

label.logo{
    color: #89969d;
    font-size: 35px;
    line-height: 8vh;
    padding: 0 0px;
    font-weight: bold;
    
}

nav ul{
    float: right;
    margin-right: 10px
    
}

nav ul li{
    display: inline-block;
    line-height: 8vh;
    margin: 0 5px;
}

nav ul li a{
    color: #89969d;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    
    color:grey;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #89969d;
    float: right;
    line-height: 8vh;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}







/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 78px;
    z-index: 9;
    
    background-color: #313a46;;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: all 0.4s ease;
  }

  .sidebar.active {
    margin: 0;
    padding: 0;
    width: 180px;
    z-index: 9;
    background-color: #313a46;;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: all 0.4s ease;
    
  }

  .sidebar .ul{
    margin-top: 30px;
    
  }

  .sidebar ul li{
    height:50px;
    position: relative;
    width: 100%;

    list-style: none;
    line-height: 50px;
  }

  /* Sidebar links */
  .sidebar ul li a {
    display: flex;
    color: #8391a2;
    align-items: center;
    text-decoration: none;
    font: Nunito,sans-serif;
     
    transition: all 0.4s ease;
    white-space: nowrap;

  }
  .sidebar ul li a i{
    height: 50px;
    min-width: 30px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    
  }
  .sidebar .links_name{
    opacity: 0;
    pointer-events:none;

  }
  .sidebar.active .links_name{
    opacity: 1;
    pointer-events:auto;

  }

  .sidebar ul li a:hover{
    color: #bccee4;
  }
  
  /* Active/current link */
  .sidebar a.active {
    
    color: white;
  }
  






/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 78px;
  z-index: 9;
  
  background-color: #313a46;;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: all 0.4s ease;
}

.sidebar.active {
  margin: 0;
  padding: 0;
  width: 180px;
  z-index: 9;
  background-color: #313a46;;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: all 0.4s ease;
  
}

.sidebar .ul{
  margin-top: 30px;
  
}

.sidebar ul li{
  height:50px;
  position: relative;
  width: 100%;

  list-style: none;
  line-height: 50px;
}






/* The side choice menu */
.sidebarchoice {
  margin: 0;
  padding: 0;
  width: 0;
  z-index: 9;
  
  background-color: #313a46;;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebarchoice.active {
  margin: 0;
  padding: 0;
  width: 220px;
  z-index: 9;
  background-color: #313a46;;
  position: fixed;
  height: 100%;
  overflow: auto;
  
}

.sidebarchoice.ul{
  margin-top: 30px;
  
}

.sidebarchoice ul li{
  height:50px;
  position: relative;
  width: 100%;

  list-style: none;
  line-height: 50px;
}

/* Sidebar choices */
.sidebarchoice ul li a {
  display: flex;
  color: #8391a2;
  align-items: center;
  text-decoration: none;
  font: Nunito,sans-serif;
   
  transition: all 0.4s ease;
  white-space: nowrap;

}
.sidebarchoice ul li a i{
  height: 50px;
  min-width: 30px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  
}
/* Page content for the dashboard*/

  .sidebarchoice.active ~ div.content1{
    position:absolute;
    height: 100%;
    width: calc(100% - 220px);
    left:220px;
  }

  div.content1 {
    position:absolute;
    height: 92vh;
    width: calc(100%);
    left:0px;
  }

  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    position:absolute;
    height: 92vh;
    width: calc(100% - 78px);
    left:78px;
    transition: all 0.4s ease;

  }
  .sidebar.active ~ div.content{
    position:absolute;
    height: 100%;
    width: calc(100% - 180px);
    left:180px;
    transition: all 0.4s ease;
  }
  




/* table */
.tbl-fixed{
    overflow-y:scroll;
    overflow-x:scroll;
    padding-top: 2vh;
    height: 30%;
    max-height: 35vh;
}

/* progress bar */
progress {
    border-radius: 7px; 
    width: 90%;
    height: 10px;
    margin-left: -11.5%;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
  }
  progress::-webkit-progress-bar {
    background-color: #bbc3c9;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #6a994e;
    border-radius: 7px;
  }
 

  .dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
  }
  #dtHorizontalVerticalExample th, td {
    white-space: nowrap;
  }
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
  }



 