*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    
}

.card-container{
    width: 80%;
    display: inline-block;
}

body{
    background-color: #f3f2f1;
}
main{
    background-color: #f3f2f1;
    height:92vh;
}

/* JOB CARD */

.job-card{
    padding: 1rem;
    border: 1px solid #777;
    border-radius: .25rem;
    min-width: 70%;

    
}


.job-card-body{
    font-size: .8rem;
}


.job-card-title{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}


.job-card-text{
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60ch;
}

.job-card-footer{
    margin-top: 1rem;
}

.job-card-deck{
    display: grid;
    align-items: flex-start;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}






/* NAV BAR */ 
 
nav{
    background: #223843;
    height: 8vh;
    width: 100%;
}

.message{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
    margin-left: 5%;
}

nav ul{
    float: right;
    margin-right: 10px
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    
    color:grey;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


@media (max-width: 1000px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#223843;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;

    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.tbl-fixed{
    overflow-y:scroll;
    overflow-x:scroll;
    padding-top: 2vh;
    height: 30%;
    max-height: 35vh;
}





