*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    font:sans-serif;
    font-weight: 400;
                                                                                         
}



body{
    /*background-color: #fafbfe;*/

    background-color:#F0F1F5;
}
main{
    margin-top: 65px;
    margin-right: 0px;
    margin-left: 0px;
    
    background-color: #F0F1F5;
    display: flex;
}

/* JOB CARD 
.card-container{
  display: inline-block;
  
}
*/

.job-card{
    
    
    background-color:white;
    border-radius: 10px;

    
}

.job-card-body{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: .8rem;
}


.job-card-title{
    font-size: 1.5rem;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #5B7F8B;
    color: white;
}
.job-card-title-text{
  font-weight: 500;

}

.job-card-text{
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60ch;
}

.job-card-footer{
    margin-top: 1rem;
}

.job-card-deck{
    
    align-items: flex-start;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(550px,1fr));
}









/* NAV BAR */ 
 
.nav-bar{
    background: white;
    height: 65px;
    width: 100%;
    top: 0vh;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    position: fixed;
    display: inline-block;
    z-index: 10;
}

.message{
    color: #89969d;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

label.logo{
    color: #89969d;
    font-size: 35px;
    line-height: 65px;
    padding: 0 0px;
    font-weight: bold;
    
}

nav ul{
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

nav ul li{
    display: inline-block;
    line-height: 65px;
    margin: 0 5px;
}

nav ul li a{
    color: #89969d;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    
    color:grey;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #89969d;
    float: right;
    line-height: 8vh;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* Mini nav bar for dashboard*/

.mini-nav-bar{
  background: #e4e7eb;
  height: 6vh;
  left:0px;
  width: 100%;

  box-shadow: 0px 0px 35px 0px rgba(255, 255, 255, 0.15);
  position: fixed;
  display: inline-block;
  z-index: 9;
}
.sidebarchoice.active ~ .mini-nav-bar{
  background: #e4e7eb;
  height: 6vh;
  left:260px;
  width: calc(100% - 260px);
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
  position: fixed;
  display: inline-block;
  z-index: 9;
  width: calc(100% - 260px);
  left:260px;
}







/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 78px;
    z-index: 9;
    
    background-color: #313a46;;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: all 0.4s ease;
  }

  .sidebar.active {
    margin: 0;
    padding: 0;
    width: 180px;
    z-index: 9;
    background-color: #313a46;;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: all 0.4s ease;
    
  }

  .sidebar .ul{
    margin-top: 30px;
    
  }

  .sidebar ul li{
    height:50px;
    position: relative;
    width: 100%;

    list-style: none;
    line-height: 50px;
  }

  /* Sidebar links */
  .sidebar ul li a {
    display: flex;
    color: #8391a2;
    align-items: center;
    text-decoration: none;
    font: Nunito,sans-serif;
     
    transition: all 0.4s ease;
    white-space: nowrap;

  }
  .sidebar ul li a i{
    height: 50px;
    min-width: 30px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    
  }
  .sidebar .links_name{
    opacity: 0;
    pointer-events:none;

  }
  .sidebar.active .links_name{
    opacity: 1;
    pointer-events:auto;

  }

  .sidebar ul li a:hover{
    color: #bccee4;
  }
  
  /* Active/current link */
  .sidebar a.active {
    
    color: white;
  }
  








/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 78px;
  z-index: 9;
  
  background-color: #313a46;;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: all 0.4s ease;
}

.sidebar.active {
  margin: 0;
  padding: 0;
  width: 180px;
  z-index: 9;
  background-color: #313a46;;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: all 0.4s ease;
  
}

.sidebar .ul{
  margin-top: 30px;
  
}

.sidebar ul li{
  height:50px;
  position: relative;
  width: 100%;

  list-style: none;
  line-height: 50px;
}






/* The side choice menu */
.sidebarchoice {
  margin: 0;
  padding: 0;
  width: 300px;
  z-index: 9;
  top: calc(65px + 16px); 
  
  background-color: #313a46;;
  position: fixed;
  height: calc(100% - 65px - 16px - 60px);
  /*  edit this height */
  overflow: auto;
}


.choiceselection{
  margin-top:10px;
  background-color: #414b58;
  border-radius: 10px;
  color: white;
  z-index: 9;

  display: block;
  text-decoration: none;
}

.choiceselectiontitle{

  background-color: #414b58;
  border-radius: 10px;
  color: white;
}

  div.content1 {
    position:relative;
    display: block;
    width: calc(100% - 300px);
    top:0vh;

    left:300px;
  }

  @media screen and (max-width: 870px) {
    .sidebarchoice {
      width: 100%;
      height: auto;
      float: none;
      top: -7vh;
      position:relative;
      display: block;
    }
    .choiceselection{
      text-align: center;
      float: none;
    }
    .title-bar-dashboard{
      left:0px;
      
    }
    div.content1 {left: 0px; width: 100%;height: auto;}
  }

  .sidebarchoice.active ~ .progress-with-nav{
    position: fixed;
    width: calc(100% - 260px);
    left:300px
  }
  .progress-with-nav{
    position: fixed;
    z-index: 8;
    width: 100%;
    left:0px;
  }




  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    position:absolute;
    height: 92vh;
    width: calc(100% - 78px);
    left:78px;
    transition: all 0.4s ease;

  }
  .sidebar.active ~ div.content{
    position:absolute;
    height: 100%;
    width: calc(100% - 180px);
    left:180px;
    transition: all 0.4s ease;
  }
  




/* table */
.tbl-fixed{
    overflow-y:scroll;
    overflow-x:scroll;
    padding-top: 2vh;
    height: 30%;
    max-height: 35vh;
}


 

  .dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
  }
  #dtHorizontalVerticalExample th, td {
    white-space: nowrap;
  }
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
  }

/* questionairre text*/
.question-text{
  font-size: 1.20rem;
  font-weight: 500;
  color: #393939;
}
.title-text{
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
}







/* 2nd bar */
.save-bar{
  background: white;
  height: 60px;
  width: 100vw;
  bottom: 0vh;
  left: 0px;
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
  position: fixed;
  display: inline-block;
  z-index: 10;
}

.title-bar{
  /*background: #e5e8ec; */
  background: #DEE0E3;
  height: 110px;
  width: 100%;
  top: 0px;
  font-family: 'Archivo Black', sans-serif;
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
}

.title-bar-dashboard{
  background: #DEE0E3;
  height: 110px;
  width: 100%;
  top: 0px;
  font-family: 'Archivo Black', sans-serif;
  left:260px;
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);

}

.progress{
  background-color: #DEE0E3;
}


.save-button{
  background-color: 
  #294b63;
  color: white;
  width: 200px;
  border: 1px solid rgb(240, 240, 237);
  border-radius: 30px;


}
.back-button{
  background-color: #dbdee4;
  color: rgb(0, 0, 0);
  width: 200px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 30px;
}
.back-button:hover{
  background-color: #708797;
  color: white;
}
.save-button:hover{
  background-color: #4D697D;
  color: white;
}
.toggle-create-skills-button:hover{
  background-color: #4D697D;
  color: white;
}
.create-skills-button:hover{
  background-color: #708797;
  color: white;
}
.btn.btn-warning:hover{
  background-color: #FFEEBD;
}


.skill-bar{
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.skill-button{
  
  background-color: #d86f55;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-weight: 500;

  border: 1px solid rgb(227, 175, 175);
  border-radius: 10px;
  text-align: center;
}

/* Student preference in complete form */
.preference-options{
  max-width: 25rem;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
  background-color: #d2dadf;

}









/* admin change phase buttons */
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
  line-height: 2.5em;
  padding-left: 1em;
  padding-right: 2em;

  /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
  

  /* rotate right arrow squares 45 deg to point right */


}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
  
	border: 0;
	overflow: hidden;
  border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */


}

.switch-field label {
	background-color: #fafbfe;
	color: rgba(0, 0, 0, 0.8);
	font-size: 13px;
  font-weight: 500;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;


}

.switch-field label:hover {
	cursor: pointer;
  background-color: #C8DEDC;
  
}

.switch-field input:checked + label {
	background-color: #5a9b95;
	box-shadow: none;
  color: white;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}



/* used for create skills in manager form */

.create-skills{
  max-width: 40rem;
  padding: 10px;
  position: relative;
  display: flex;
  border-radius: 10px;
  background-color: #d2dadf;
  max-height: 70px;

}
.create-skills-button {
  background-color: #294b63;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
.toggle-create-skills-button{
  background-color: #294b63;
  max-width: 40rem;
  padding: 10px;
  position: relative;
  display: flex;
  margin: 5px;
  border-radius: 10px;
  color: white;
  height: 50px;
  border-width: 0px;
  margin: 7px;
  font-size: 16px;
  align-items: center;
}

/* Style the map */
#map { 
  height: 200px; 
  width: 100%; 
} 

.mapboxgl-marker { 
  cursor: pointer; 
} 

.locator-popup { 
  font-size: 14px; 
} 




/* Yellow button */
.btn.btn-warning{
  transition: none;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}
.btn.btn-warning.active{
  background-color: #ffcd3a;
  transition: none;
  outline: none;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}
.btn-check:active+.btn-warning:focus, .btn-check:checked+.btn-warning:focus, .btn-warning.active:focus, .btn-warning:active:focus, .show>.btn-warning.dropdown-toggle:focus {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.btn-check:focus+.btn-warning, .btn-warning:focus {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.btn-outline-warning{
  border: none;
  color: black;
  background-color: white;
  transition: none;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  width: 25vw;

}
.btn-outline-warning:hover{
  color: black;
  background-color: white;
}
.btn-outline-warning.btn-check:active{
  color: black;
  background-color: #ffcd3a;
}
.btn-check:checked+.btn-outline-warning{
  color: black;
  background-color: #ffcd3a;
  transition: none;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}
.btn-check:active+.btn-outline-warning:focus, .btn-check:checked+.btn-outline-warning:focus, .btn-outline-warning.active:focus, .btn-outline-warning:active:focus, .show>.btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.btn-check:focus+.btn-outline-warning, .btn-outline-warning:focus {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}




.range-slider-container {
  position: relative;
  width: 100%;
  margin-top: 10px;
} 
input[type="range"] {
  -webkit-appearance: none;
  height: 10px;
  box-sizing: border-box;
  width: 100%;
  background:  0;
  cursor: pointer;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  box-sizing: border-box;
  box-shadow: -1px 1px 5px rgba(0,0,0,.4);
  border: 3px solid #ddd;
  background: #294b63; /*color*/
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: -1px 1px 5px rgba(0,0,0,.4); 
  border: 3px solid #ddd;
  background: #294b63; /*color*/
}
.range-track {
  width: 100%;
  height: 4px;
  position: absolute;
  pointer-events: none;
  top: 10px;
  left:  1px;
  border-radius: 3px;
}
.track-highlight {
  background: #294b63; /*color*/
}
#range_slider_1 {
  z-index: 500;
  position: absolute;
  left: 0;
  top: 5px;
}




/* Maps */
.marker-border{
  background-color: #294b63;
  border-radius: 50%;
  height: 15px;
  width: 15px;


  }




  .card-description{
    display: block;
    width: 100%;
    height: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  }


  /* modal */
.modal-header{
  background-color: #5B7F8B;
  color: white;
  border-bottom: none;
  display: block;
}









.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 12;
  width: 300px;
  color: black;
  font-size: 12px;
  background-color: #dde0e3;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#top {
  top: -40px;
  left: -50%;
}

#top::before {
  top: 80%;
  left: 45%;
}

#bottom {
  top: 25px;
  left: -50%;

}

#left {
  top: -8px;
  right: 120%;
}

#left::before {
  top: 35%;
  left: 94%;
}




.hover-text {
  position: relative;
  display: inline-block;

  
}

.sign-in-button{
  background-color: #599a95;
  color: white;
  width: 80px;
  border: 1px solid rgb(240, 240, 237);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
  font-size: 17px;
  font-weight: 500;
}

.register-button{
  
  color: #6c757d;
  width: 80px;
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
  font-size: 17px;
  font-weight: 500;
}

.logout-button{
  
  color: #6c757d;
  width: 80px;
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
  font-size: 17px;
  font-weight: 500;
}

@media screen and (max-width: 485px) {
  .sign-in-button {
    display: none;
  }
  .register-button{
    display: none;
  }


}

.gradrotate-image{
  width:250px;
  height:50px;
  max-height: 250px;
  max-width: 50px;
  display: grid;

}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}


.accordion-button{
  color: #51575d;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #E4EEED;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:focus{
  z-index: 3;
  border-color: #E4EEED; 
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
.accordion-button:focus {
  z-index: 3;
  border-color: #E4EEED;
  outline: 0;
  box-shadow: none; 
}