{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <title>Gradrotate - Where Interns Get allocated To Their Placement Roles</title>
</head>
<main>
    <body>
        <div class = "progress-with-nav">
            <div class="progress">
                <div class="progress-bar " role="progressbar" style="background-color: #5A9B95;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>
        <div class="container">



            
    
   






            <div class="col-md-11 col-sm-12 col-xs-12 mx-auto">

            

            
                <div class="card border-0 rounded-3 mt-5">
                    <div class="card-body p-4 p-sm-5">
                        <div class="row text-center">
                            <div class="col-lg">
                                
                                <style>
                                    .remoteWork {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                </style>

                           
                                <img class="remoteWork" src = "{% static '/images/RemoteWork.png' %}" style = "margin: 5px;">
                
            
                                
                        
                            </div>
                            <div class="col-lg">
                                <h2 class="text-center pt-2" style="font-family: 'Archivo Black', sans-serif;"> A platform that assists allocating Interns to their placement roles </h2>

                                <h5 class = "pt-4" style="color: #6c757d;">
                                    Gradrotate streamlines the process of allocating graduates and Interns to roles during their various placements, by matching the right candidate with the right placement.
                                </h5>
                                
                                    
                                
                              
                                <div class="row text-center justify-content-center mt-4">
                                   
                                    <div class="col-md-5 col-lg-6 col-xl-5 d-flex justify-content-center ">
                                     
                                            <a href="../../login" class="save-button p-3 m-2" style="display: block;text-decoration:none; top: 10px;width: 230px;">Get Started Here</a>
                

                                        

                                    </div>
                                    
                          
                                

                                </div>
                                


                            </div>
                        </div>
                        
                    </div>

            </div>
            <div class="card border-0 rounded-3 mt-4">
                <div class="card-body p-4 p-sm-5">
                    <div class="row">
                        <h3 class="pt-2" style="font-family: 'Archivo Black', sans-serif; ">How It Works...</h3>

           
                        
                    </div>
                    <div class="row pt-2 pb-2">
                        <h5 style="color: #6c757d;">
                            Gradrotate assigns interns to roles that align with their abilities and potential for growth, while also bringing value to the employer. The system carefully matches each intern with the appropriate placement in 3 steps:
    
                            
                        </h5>

                    </div>
                    
                    <div class="row text-center" style="color: #6c757d;">
                        <div class="col-lg">
                            <i style="color: #51575d;" class='bx bx-lg bx-clipboard pt-4' ></i>
                            <br>
                            <h5 style="color: #51575d;">Job Creation</h5>
                            
                            <h7>Managers Create A Vacancy Listing With Skills Needed For The Job
                            </h7>

                        </div>
                        
                        <div class="col-lg">
                            <i style="color: #51575d;" class='bx bx-lg bx-poll pt-4'></i>
                            <br>
                            <h5 style="color: #51575d;">Intern Collection</h5>
                            
                            <h7>Interns Create A Personality Profile And Rank Each Job In Order Of Preference</h7>
                        </div>
                        
                        <div class="col-lg">
                            <i style="color: #51575d;" class='bx bx-lg bx-shuffle pt-4' ></i>
                            <br>
                            <h5 style="color: #51575d;">Allocation</h5>
                            
                            <h7>Interns and Jobs Are Matched Together Based On Both Parties Preferences
                            </h7>
                        </div>
                        
                    </div>
                    
                    <div class="row text-center p-3" style="color: #6c757d;">
                        <hr class="my-4">
                    
                    </div>
                    <div class="row text-center" style="color: #6c757d;">
                        <div class="col-lg">
                            <h5 class="pt-2" style="color: #51575d;">{{total_jobs}}+</h5>
                            
                            
                            <h7>Jobs Created</h7>
                            
                            
                            
                        </div>
                        <div class="col-lg">
                            <h5 class="pt-2" style="color: #51575d;">{{total_interns}}+</h5>
                            
                            
                            <h7>Interns Collected</h7>
                            

                        </div>
                    
                    </div>
                    
                    
                </div>

            </div>
            <div class="card border-0 rounded-3 mt-4">
                <div class="card-body p-4 p-sm-5">
                    <div class="row">
                        <h3 class="pt-2" style="font-family: 'Archivo Black', sans-serif; ">Frequently Asked Questions...</h3>
                    </div>
                    <div class="row pt-4 justify-content-center">
                        
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" >
                                    
                                        <strong>How are Interns recommended Jobs?</strong>

                                    </button>
                                  </h2>
                                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Interns are recommended Jobs based on the 'Personality Profile' they complete. A Jaccard Weighting Coefficient is calculated between the Job and Intern, that compares various factors such as: skills, preferred office location, preferred remote/in-person balance, etc. Interns are then presented with jobs that have a higher coefficient value first, along with a suitable fit percentage.
                                    
                                      
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <strong>How do Managers make preferences over Interns?</strong>
                                    </button>
                                  </h2>
                                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Jobs are given preferences over interns based on their 'Personality Profile', rather than relying on managers to select interns. This approach significantly reduces unconscious bias in the selection process, ensuring that interns are evaluated objectively for their fit with a given role. To achieve this, we use an advanced calculation that compares the job profile against the intern's profile, resulting in a suitability ranking that guides our selection process.
                                       </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <strong>How will the allocation be calculated?</strong>
                                    </button>
                                  </h2>
                                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        The Intern-Job allocation calculation depends on the system requirements and can be calculated using various allocation algorithms. These algorithms differ in their approach of  calculating pairs: some algorithms only require the intern's preferences, while others require both the job and intern's preferences. Regardless of the algorithm used, the intern's preferences always receive priority, and job preferences are only considered when a trade-off occurs.
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                          <strong>What if an Intern is unhappy about their Job allocation?</strong>
                                      </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        We strive to allocate interns to their placement positions in a fair and equitable manner, based on their preferences and skills. However, in the unlikely event that an intern is not satisfied with their job placement, we encourage them to inform their supervisor. Our team will work diligently to address their concerns and find a resolution that meets their needs. Our ultimate goal is to ensure that every intern is content with their placement and finds their role engaging and fulfilling.
                                    </div>
                                    </div>
                                  </div>

                            </div>

                      
                        
                        

                    </div>

                </div>

            </div>


            </div>
        <div class="row p-5 pt-2 pb-2"  style="font-size: 13px;">
            <div class="col-md-3">
              <p class="text-center">
                Supervisor <a class="text-decoration-none" href="https://shah.fyi/">Prof. Madasar Shah</a><br>
                </p>
            </div>
            <div class="col-md-6">
              <p class="text-center">
                © <a class="text-decoration-none" href="https://www.linkedin.com/in/jonathan-dain-753173151">Jonathan Dain</a> 2022
                <br>
                
              </p>
            </div>
            <div class="col-md-3">
              <p class="text-center">Image - <a class="text-decoration-none" href=https://www.pngarts.com/explore/165353 target="_blank" aria-label="Remote Work Picture">Remote Work</a>
              </a></p>
            </div>
          </div>

        
            
        
  
            
        </div>
    </body>
</main>

                

{% endblock %}
