{% extends "base.html" %}


{% block content %}

<main>

    <div class = "progress-with-nav">
        <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 80%; background-color: #5A9B95;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
    <div class="container-fluid p-0 m-0">
        <div class = 'title-bar text-center'>
            <div class = "row justify-content-center">
            <h3 style="margin-top: 50px;">Skills needed for the Job</h3>
            </div>
        </div>

        <!--Toggle button to add New skills-->
        <div class="row justify-content-center mb-3 mt-3">
            <div style = "display: flex; justify-content: center;">
                <button type="button" class="toggle-create-skills-button text-center" data-bs-toggle="button" autocomplete="off" id="add_skills_btn" onclick="toggleDiv('add_skills')">+ Add new skills</button>
            </div>
        </div>



        

    <script>
        const btn = document.getElementById('add_skills_btn');

        btn.addEventListener('click', () => {
        // 👇️ hide button
            btn.style.display = 'none';
        });

    </script>


    <div id="add_skills" style = "display: none;">
    <form method="POST" action="">

        {% csrf_token %}
        <div class="row justify-content-center mb-3">
            <div class="create-skills">
                <div class="col-6 p-1">
                    {{additional_skills.name}}
                </div>
                <div class="col-5 p-1">
                    {{additional_skills.skill_category}}
                </div>
                <div class="col-1 text-center">
                    <button class="create-skills-button" type="submit" name ="Submit_skills" value="Next">+</button>
                </div>
    
            </div>
        </div>
        

    </form>
    </div>


    


<form method="POST" action="">

    {% csrf_token %}
    <!--
    <row>
        <div class="card shadow-sm border-0 rounded m-4 p-4 mx-auto" style="max-width: 45rem;">
            <div class="card-body">
                <p> Coding:</p>
                <input type="range" value="{{job.coding}}" name="coding" min="0" max="10"  class="slider" step="1" oninput= "rangeValue.innerText = this.value">
                <p id="rangeValue">{{job.coding}}</p> 

                <p id="demo"></p>
        
                <p> Project Management:</p>
                <input type="range" value="{{job.project_management}}" name="project_management" min="0" max="10"  class="slider" step="1" oninput= "rangeValue1.innerText = this.value">
                <p id="rangeValue1">{{job.project_management}}</p> 
        
                <p> Marketing Skills:</p>
                <input type="range" value="{{job.marketing1_skills}}" name="marketing1_skills" min="0" max="10" class="slider" step="1" oninput= "rangeValue2.innerText = this.value">
                <p id="rangeValue2">{{job.marketing1_skills}}</p> 
        
                <p> Web Skills:</p>
                <input type="range" value="{{job.web_skills}}" name="web_skills" min="0" max="10"  class="slider" step="1" oninput= "rangeValue3.innerText = this.value">
                <p id="rangeValue3">{{job.web_skills}}</p> 

            </div>
        </div>
    </row>
    -->

    <style>
        .btn.btn-warning{
            transition: none;
            border: none;
            outline: none;
            background-color: white;
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

        }
        .btn.btn-warning.active{
            background-color: #ffcd3a;
            transition: none;
            outline: none;
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

        }
        .btn-check:active+.btn-warning:focus, .btn-check:checked+.btn-warning:focus, .btn-warning.active:focus, .btn-warning:active:focus, .show>.btn-warning.dropdown-toggle:focus {
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        }
        .btn-check:focus+.btn-warning, .btn-warning:focus {
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        }

        .btn-outline-warning{
            border: none;
            color: black;
            background-color: white;
            transition: none;
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
            width: 25vw;
        
        }
        .btn-outline-warning:hover{
            color: black;
            background-color: white;
        }
        .btn-outline-warning.btn-check:active{
            color: black;
            background-color: #ffcd3a;
        }
        .btn-check:checked+.btn-outline-warning{
            color: black;
            background-color: #ffcd3a;
            transition: none;
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        
        }
        .btn-check:active+.btn-outline-warning:focus, .btn-check:checked+.btn-outline-warning:focus, .btn-outline-warning.active:focus, .btn-outline-warning:active:focus, .show>.btn-outline-warning.dropdown-toggle:focus {
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        }
        .btn-check:focus+.btn-outline-warning, .btn-outline-warning:focus {
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        }


        




    </style>

<div class = "row justify-content-center">
    <div class="col-4 text-center">
    
        

            {% for message in messages %}
                <div class="alert alert-dark" role="alert"> {{message}} </div>
            {% endfor %}

            <button type="button" class="btn btn-warning m-1" data-bs-toggle="button" autocomplete="off" onclick="toggleDiv('coding_skills')">Coding</button>
            <button type="button" class="btn btn-warning m-1" data-bs-toggle="button" autocomplete="off" onclick="toggleDiv('analytic_skills')">Analytic</button>
            <button type="button" class="btn btn-warning m-1" data-bs-toggle="button" autocomplete="off" onclick="toggleDiv('marketing_skills')">Marketing</button>
            <button type="button" class="btn btn-warning m-1" data-bs-toggle="button" autocomplete="off" onclick="toggleDiv('management_skills')">Management</button>
            <button type="button" class="btn btn-warning m-1" data-bs-toggle="button" autocomplete="off" onclick="toggleDiv('leadership_skills')">Leadership</button>
            <button type="button" class="btn btn-warning m-1" data-bs-toggle="button" autocomplete="off" onclick="toggleDiv('business_skills')">Business</button>
            <button type="button" class="btn btn-warning m-1" data-bs-toggle="button" autocomplete="off" onclick="toggleDiv('admin_skills')">Admin</button>
    </div>
        
</div>
<div class = "row justify-content-center mt-4">
    <div class="col-5 text-center">
        Select the most relevant for the Job (max 5)
        
    </div>
</div>
    <div class = "row justify-content-center mt-4">
        <div class="col-5 text-center">

                
                <div id="coding_skills" style = "display: none;">
                    
                        {% for checkbox in form.computing_skills %}
                            {{ checkbox.tag }}

                            <label class="btn btn-outline-warning m-1" for="id_computing_skills_{{ forloop.counter0 }}">{{ checkbox.choice_label }}</label><br>                    
                        
                        {% endfor %}
                                   
                </div>
                <div id="analytic_skills" style = "display: none;">
                    
                        {% for checkbox in form.analytic_skills %}
                            {{ checkbox.tag }}

                            <label class="btn btn-outline-warning m-1" for="id_analytic_skills_{{ forloop.counter0 }}">{{ checkbox.choice_label }}</label><br>                    
                        
                        {% endfor %}
                    
                </div>
                <div id="marketing_skills" style = "display: none;">
                    
                        {% for checkbox in form.marketing_skills %}
                            {{ checkbox.tag }}

                            <label class="btn btn-outline-warning m-1" for="id_marketing_skills_{{ forloop.counter0 }}">{{ checkbox.choice_label }}</label><br>                    
                        
                        {% endfor %}
                    
                </div>
                <div id="management_skills" style = "display: none;">
                   
                        {% for checkbox in form.management_skills %}
                            {{ checkbox.tag }}

                            <label class="btn btn-outline-warning m-1" for="id_management_skills_{{ forloop.counter0 }}">{{ checkbox.choice_label }}</label><br>                    
                        
                        {% endfor %}
                    
                </div>
                <div id="leadership_skills" style = "display: none;">
                   
                        {% for checkbox in form.leadership_skills %}
                            {{ checkbox.tag }}

                            <label class="btn btn-outline-warning m-1" for="id_leadership_skills_{{ forloop.counter0 }}">{{ checkbox.choice_label }}</label><br>                    
                        
                        {% endfor %}
                    
                </div>
                <div id="business_skills" style = "display: none;">
                    
                        {% for checkbox in form.business_skills %}
                            {{ checkbox.tag }}

                            <label class="btn btn-outline-warning m-1" for="id_business_skills_{{ forloop.counter0 }}">{{ checkbox.choice_label }}</label><br>                    
                        
                        {% endfor %}
                    
                </div>
                <div id="admin_skills" style = "display: none;">
                    
                        {% for checkbox in form.admin_skills %}
                            {{ checkbox.tag }}

                            <label class="btn btn-outline-warning m-1" for="id_admin_skills_{{ forloop.counter0 }}">{{ checkbox.choice_label }}</label><br>                    
                        
                        {% endfor %}
                    
                </div>
                


            </div>
        </div>
        
    </row>



    


    <div class="save-bar">
        <div style = "display: flex;
        justify-content: center; ">

            
                <a href="../../form/manager_form/information_2" class="back-button p-2 m-2 text-center" style="display: inline;text-decoration:none">Back</a>
                
        
                
            
                <button class="save-button p-2 m-2" type="submit" name ="Submit_form" value="Next">Save and continue</button>
                
              
        </div>
    </div>

    {{form.errors}}
 
</form>   

<script>
    function toggleDiv(DivID) {
    var x = document.getElementById(DivID);
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
    }
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
        var n = $("input:checked").length;
        if (n >= 5)                                              
        {
            countCheckedCheckboxes();
        }

        function countCheckedCheckboxes() {                            
            var n = $("input:checked").length;                       
                                     
            if (n >= 5)                                              
            {                                                        
                $(':checkbox:not(:checked)').prop('disabled', true);  
            }                                                        
            else                                                     
            {                                                        
                $(':checkbox:not(:checked)').prop('disabled', false); 
            }                                                        
        }                                                                                              
        $(":checkbox").click(countCheckedCheckboxes);   
    </script>


</main>


{% endblock %}