{% extends "base.html" %}


{% block content %}
<header>
    <title>Manager Form | Gradrotate</title>
  </header>


<main>

    <div class = "progress-with-nav">
        <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 40%; background-color: #5A9B95;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>

    <div class="container-fluid p-0 m-0">
        <div class = 'title-bar text-center'>
            <div class = "row justify-content-center">
            <h3 style="margin-top: 50px;">Job information</h3>
            </div>
    </div>
<div class="container">
<form method="POST" action="">

    {% csrf_token %}





    
    
    <row>
        <div class="card shadow-sm border-0 rounded m-4 p-4 mx-auto" style="max-width: 45rem;">
            <div class="card-body">
            <div class="question-text">Job name *</div>
            
            {{form.name}}
            </div>
            
        </div>

    </row>
    <row>
        <div class="card shadow-sm border-0 rounded m-4 p-4 mx-auto" style="max-width: 45rem;">
            <div class="card-body">
            <div class="question-text">Job description *</div>
            
            {{form.description}}
            </div>
            
    </div>
    <row>
        <div class="card shadow-sm border-0 rounded ml-4 mr-4 mt-4 p-4 mx-auto" style="max-width: 45rem;margin-bottom: 100px;">
            <div class="card-body">
            <div class="question-text">Job's daily tasks *</div>
            {{form.daily_tasks}}
            </div>
            
    </div>



    {{form.errors}}
    <div class="save-bar">
        <div style = "display: flex;
        justify-content: center; ">
    
            
                <a href="../../form/manager_form" class="back-button p-2 m-2 text-center" style="display: inline;text-decoration:none">Back</a>
                
        
                
            
                <button class="save-button p-2 m-2" type="submit" name ="Submit" value="Next">Save and continue</button>
                
              
        </div>
    </div>
 
</form>
</div>   

</main>


{% endblock %}