{% extends "base.html" %}


{% block content %}

<main>

<form method="POST" action="">

    {% csrf_token %}
    {{form.as_p}}




    <row>
        <div class="card shadow-sm border-0 rounded m-4 p-2 mx-auto" style="max-width: 45rem;">
            <div class="card-body">
                <button class="btn btn-primary btn-block float-end" type="submit" name ="Submit" value="Next">Save and continue</button>
                <!--<input type="Submit" name ="Next" value="Next">-->
            </div>
            
        </div>

    </row>

    {{form.errors}}
 
</form>   

</main>


{% endblock %}