{% extends "base.html" %}


{% block content %}


<header>
    <title>Allocated Position | Gradrotate</title>
  </header>


<main>
    <div class = "progress-with-nav">
        <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 100%; background-color: #5A9B95;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="container-fluid p-0 m-0">
        <div class = 'title-bar text-center'>
            <div class = "row justify-content-center">
            <h3 style="margin-top: 50px;">Allocation Complete</h3>
            </div>
        </div>

        {%if admin.notify_allocations %}
            Allocated Job: 


            {{job.name}}
        
        {% else %}
        <div class="card shadow-sm border-0 rounded m-4 p-4 mx-auto" style="max-width: 45rem;">
            <div class="row">
                <div class="col-2">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
    
                </div>
                <div class = "col-10">
                    Your Co-Ordinator will confirm your placement positions manually.
                    <br>
                    Please wait for them to reach out to you
    
                </div>
                    
    
            </div>
               
                    
                
            </div>

        
            
        {% endif %}
    </div>


    </div>
    
    

</main>
{% endblock %}