{% extends "base.html" %}


{% block content %}


<main>

    





        <body>
            <div class = "progress-with-nav">
                <div class="progress">
                    <div class="progress-bar " role="progressbar" style="width: 20%; background-color: #5A9B95;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>
            <!--
            <div class="progress" style = "width: 100%; position: fixed;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            -->
            <div class="container-fluid p-0 m-0">
                <div class = 'title-bar text-center'>
                    <div class = "row justify-content-center">
                    <h3 style="margin-top: 50px;">Provide basic information</h3>
                    </div>
                </div>


        <div class="container">
        <form method="POST" action="">
            
            {% csrf_token %}
            
            
            <div class="col-sm">


            
            <row>
                <div class="card shadow-sm border-0 rounded m-4 p-4 mx-auto" style="max-width: 45rem;">
                    <div class="card-body">
                    <div class="question-text">Your name * </div>
                    {{form.name}}
                    </div>
                </div>
            </row>
            <row>
                <div class="card shadow-sm border-0 rounded m-4 p-4 mx-auto" style="max-width: 45rem;">
                    <div class="card-body">
                        <div class="question-text">Your work email *</div>
                    
                    <!--{{form.email.label}} -->
                    <input class="form-control" id="disabledInput" type="text" value="{{intern.email}}" disabled>
                    </div>
                    
                </div>

            </row>


            



            <div class="save-bar">
                <div style = "display: flex; justify-content: center; ">        
                        
                    
                        <button class="save-button p-2 m-2" type="submit" name ="Submit" value="Next">Save and continue</button>
                        
                      
                </div>
            </div>

        </div>
        

        </div>
            
        
       

        
        </body>
        





























<!--
<form method="POST" action="">

    {% csrf_token %}
    {{form.as_p}}

    
    <p> Coding:</p>
    <input type="range" value="{{intern.coding}}" name="coding" min="0" max="10" value="50" class="slider" step="1" oninput= "rangeValue.innerText = this.value">
    <p id="rangeValue">{{intern.coding}}</p> 

    <p> Project Management:</p>
    <input type="range" value="{{intern.project_management}}" name="project_management" min="0" max="10" value="50" class="slider" step="1" oninput= "rangeValue1.innerText = this.value">
    <p id="rangeValue1">{{intern.project_management}}</p> 

    <p> Marketing Skills:</p>
    <input type="range" value="{{intern.marketing_skills}}" name="marketing_skills" min="0" max="10" value="50" class="slider" step="1" oninput= "rangeValue2.innerText = this.value">
    <p id="rangeValue2">{{intern.marketing_skills}}</p> 

    <p> Web Skills:</p>
    <input type="range" value="{{intern.web_skills}}" name="web_skills" min="0" max="10" value="50" class="slider" step="1" oninput= "rangeValue3.innerText = this.value">
    <p id="rangeValue3">{{intern.web_skills}}</p> 




    <input type="Submit" name ="Register">

    {{form.errors}}
 
</form>   
</main>
-->

{% endblock %}