{% extends "base.html" %}


{% block content %}

<header>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</header>

<main>
    
        <div class = "progress-with-nav">
            <div class="progress">
                <div class="progress-bar " role="progressbar" style="width: 80%; background-color: #5A9B95;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>


<!-- Want to have a sidenav bar with all the options on the left -->

    
    <!-- Want another mini nav bar -->
    <!--
    <div class="mini-nav-bar" style="position:fixed;">
        <div class="row ">
            
            <div class="col-11">
                <h1 class ="text-center">Job Preferences</h1>
            </div>
            <div class="col-1">
                <button class="btn btn-secondary btn-block text-center  mb-4 m-1 float-end"><a href="../../form/student_form/skills">Back</a></button>
            </div>

          </div>
        

    </div>
    -->
    

    <!--
    <div class = "progress-with-nav">
    <div class="progress">
        <div class="progress-bar " role="progressbar" style="width: 80%; background-color: #5A9B95;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    -->

        <!--
      <row>
        <div class="card shadow-sm border-0 rounded m-4 p-4 mx-auto" style="max-width: 45rem;">
            <div class="card-body ">
                <p class="h3 float-start"style = "padding: 5px 5px 5px; color:#6c757d;">
                    <i class="fa fa-bars" id="btn1"></i>
                </p>
                
                <h1 class="float-end">List your Job preferences</h1>
            </div>
            <button><a href="../../form/student_form/skills">Back</a></button>
            
        </div>

    </row>
    -->

    <!--
    <script>
        let btn = document.querySelector("#btn1");
        let sidebar = document.querySelector(".sidebarchoice");
        btn.onclick = function() {
            sidebar.classList.toggle("active");
        }
    </script>  
    -->






    <div>
    
    </div>  
    
<!-- Main content here-->


<div class="content1">
    <div class = 'title-bar-dashboard text-center'>
        <div class = "row justify-content-center">
        <h3 style="margin-top: 50px;">Provide basic information</h3>
        </div>
    </div>


<div class="card-container m-4" style="position:relative; display: block;" >
    <div class="job-card-deck p-2" >
        
            {% for form, i, jobs_skills, jobs_percentage in zippedlist2 %}

            
                <div class="job-card shadow-sm border-0 rounded" >
                    <h5 class="job-card-title">
                        <div class="row">
                            <div class="col-3">
                                {{jobs_percentage}}%
                            </div>
                            <div class="col-9">
                                <div class="float-start">
                                    {{i.name}}
                                </div>
                                
                            </div>
                        </div>
                    </h5>   
                    <div class="job-card-body">
                        <div class="row pb-2">
                            <div class = "skill-bar">
                                {% for skills in jobs_skills %}
                                    <div class = "skill-button" >{{skills}}</div>
                                {% endfor %}

                            </div>
                            
                        
                        </div>
                        <div class="row pb-1">
                            <div class="col-9">
                                
                                    {{i.description}} 
                              
                            </div>
                            <div class="col-3">
                                <i class='bx bxs-map-pin'></i>
                                {{i.location}}
                            </div>

                            

                        </div>
                        <div class="row pb-1">
                            <div class="col-3">
                            <button type="button" class="btn btn-secondary float-end" data-bs-toggle="modal" data-bs-target="#modal{{ i.id }}">
                                Read more
                            </button>
                            </div>

                        </div>
                        



      
                            
                    </div>
                    



                    


                

                  </div>

                    <!-- Modal -->
                    <div class="modal fade" id="modal{{ i.id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                        
    
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-project-{{project.pk}}-label">{{i.name}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{i.description}}
                                        </div>
                                        <div class="col-md-6">
                                            {% for skills in jobs_skills %}
                                            <button type="button" class="btn btn-primary">{{skills}} </button>
                                            {% endfor %}

                                

                                            <!--
                                            <div class="float-end" id="piechart-{{forloop.counter}}"></div>
                                            
                                            

                                

                                            <script type="text/javascript">
                                                // Load google charts
                                                google.charts.load('current', {'packages':['corechart']});
                                                google.charts.setOnLoadCallback(drawChart);
                                                
                                                // Draw the chart and set the chart values
                                                function drawChart() {
                                                    var djangodata = {{job_skills|safe}};
                                                    var data = google.visualization.arrayToDataTable(djangodata);
                                                
                                                    // Optional; add a title and set the width and height of the chart
                                                    var options = {pieSliceText: 'none', 'chartArea': {'width': '600%', 'height': '60%'},'width':400, 'height':400, pieHole: 0.4,colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']};
                                                    
                                                    // Display the chart inside the <div> element with id="piechart"
                                                    //var = func_name = "container-{{forloop.counter}}"

                                                    //var func_name = "container-{{forloop.counter}}";
                                                
                                                    var chart = new google.visualization.PieChart(document.getElementById('piechart-{{forloop.counter}}'));
                                                    chart.draw(data, options);
                                                };
                                            </script>
                                            -->





                                        </div>

                                    </div>
                            



                                </div>
                              
                                  

                                  <!-- Use google pie chart here-->
                        
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>




            
            {% endfor %}
        
        

            <!-- for job in jobs -> create a form number with a number and using the name.. views will take this and add it into the form?--> 


            
            
          
            



        </div>
    </div>
</div>
</div>







</div>
</main>


    <form action ="" method = "POST"> 
        <div class = "sidebarchoice">
        <div class = "choiceselectiontitle p-1 m-2 mb-3 mt-3">
            Select your preferences
        </div>
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form, i in zippedlist %}
        <div class = "choiceselection p-1 m-2 ">
            <li>
            {{i.name}}
            <p hidden> hey </p>
            <!--{{form.job.as_hidden}} -->

            <div class="float-end">
                {{form.preference}}
             
            </div>

            <!--
            <select class="form-select" aria-label="Default select example">
                <option selected>-</option>
                {% for j in jobs_count %}
                <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                {% endfor %}
            </select>
            -->

        </li>
        </div>

        {% endfor %}    

        {% if errorlist %}
            {% for error in errorlist %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        
            <!--
            <div class="col text-center">
                <button class="btn btn-secondary btn-block text-center mt-2" type="submit" name ="Submit">Submit</button>

            </div>
            -->

       
        </div>


        <div class="save-bar">
            <div style = "display: flex;
            justify-content: center; ">
    
                
                    <a href="../../form/student_form/skills" class="back-button p-2 m-2 text-center" style="display: inline;text-decoration:none">Back</a>
                    
            
                    
                
                    <button class="save-button p-2 m-2" type="submit" name ="Submit" value="Next">Save and continue</button>
                    
                  
            </div>
        </div>
            



    </form>
    
    






</section>




{% endblock %}

