

<div class="content1">
    <div class = 'title-bar-dashboard text-center'>
        <div class = "row justify-content-center">
        <h3 style="margin-top: 50px;">Job Information</h3>
        </div>
    </div>
    

    <div class="card-container  mt-4" style="position:relative; display: block; margin-bottom: 80px;" >
        <div class="col-xs-12 col-md-11 col-lg-10 col-xl-9 mx-auto">

        
        <div class="job-card-deck p-2" >   
                {% for i, jobs_skills, jobs_percentage in zippedlist2 %}
                    <div class="job-card shadow-sm border-0" >
                        <h5 class="job-card-title">
                            <div class="row">
                                <div class="col-2 job-card-title-text">
                                    #{{forloop.counter}}
                                </div>
                                
                                <div class="col-8">
                                    <div class=" text-center job-card-title-text">
                                        {{i.name}}
                                    </div>
                                    
                                </div>
                                <div class="col-2 job-card-title-text">
                                    {{jobs_percentage}}%
                                </div>
                               
                            </div>
                        </h5>   
                        <div class="job-card-body">
                            <div class="row pb-2">
                                <div class = "skill-bar">
                                    {% for skills in jobs_skills %}
                                        <div class = "skill-button" >{{skills}}</div>
                                    {% endfor %}
                                </div>           
                            </div>
                            <div class="row" style="max-height: 50px;">
                                <div class="col-9">
                                    <div class="card-description">
                                        {{i.description }}
                                    </div>                   
                                                           
                                </div>
                                <div class="col-3">
                                    <div class="card-description pt-2">
                                        <i class="fa fa-sharp fa-solid fa-lg fa-location-dot float-start" style = "color: #294b63;"></i>
                                    
                                        
                                        {{i.job_location.location}}
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row" style="max-height: 50px;">
                                <div class="col-9">
                                    <button type="button" class="btn btn-outline-secondary justify-content-center" data-bs-toggle="modal" data-bs-target="#modal{{ i.id }}">
                                        Read more
                                    </button>

                                </div>
                                <div class="col-3">
                                    
                                    <div class="card-description pt-2">
                                        <i class=" fa fa-solid fa-lg fa-users" style = "color: #294b63;"></i>
                                        {{i.team}}

                                    </div>
                                    
                                </div>

                            </div>


                                                
                        </div>
                    </div>
                        <div class="modal fade" id="modal{{ i.id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header" style="display: block;">
                                    <div class="row">
                                        
                                        <div class="col-3">
                                            <div class=" text-center" >
                                                <h7 class= "job-card-title-text " >Current ranking</h7>

                                            </div>
                                            
                                        </div>
                                        
                                        <div class="col-6">
                                            <div class=" text-center" >
                                                <h7 class= "job-card-title-text " >Job Title</h7>
                                               
                                            </div>
                                            
                                        </div>
                                        <div class="col-3">
                                            <div class=" text-center" >
                                                <h7 class= "job-card-title-text " >Percentage Match</h7>
                                            </div>
                                            
                                        </div>
                                       
                                    </div>
                                    

                                    <div class="row">
                                        
                                            <div class="col-3">
                                                <div class=" text-center" >
                                                    <h4 class= "job-card-title-text " >#{{forloop.counter}}</h4>
                                                </div>
                                                
                                            </div>
                                            
                                            <div class="col-6">
                                                <div class=" text-center" >
                                                    <h4 class= "job-card-title-text " >{{i.name}}</h4>
                                                </div>
                                                
                                            </div>
                                            <div class="col-3">
                                                <div class=" text-center" >
                                                    <h4 class= "job-card-title-text " >{{jobs_percentage}}%</h4>
                                                </div>
                                                
                                            </div>
                                           
                                        </div>
                                        
                                           
                                        
                         

                                        
                                        
                                    </div>
                                    
                                
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                        <div class="col-lg-7">
                                            <div class="row pt-2">
                                                <div class="question-text float-start">
                                                    Description:
                                                </div>

                                            </div>
                                            <div class="row pt-2">
                                                <div style="padding-left: 12px; padding-right: 12px;">
                                                    {{i.description|linebreaks }}
                                                
                                                </div>
                                                

                                            </div>
                                            <div class="row pt-2">
                                                <div class="question-text">
                                                    Daily Tasks:
                                                </div>

                                            </div>
                                            <div class="row pt-2">
                                                <div style="padding-left: 12px; padding-right: 12px;">
                                                    {{i.daily_tasks|linebreaks }}
                                                </div>
                                               

                                            </div>
                                            
                                            
                                            

                                            



                                        </div>
                                        <div class="col-lg-5">
                                            
                                                <div class="question-text">
                                                    Key Skills:
                                                </div>
                                                
                                                {% for skills in jobs_skills %}
                                                    <button type="button" class="skill-button">{{skills}} </button>
                                                    {% endfor %}

                                           
                                            
                                            <div class="row pt-3">
                                                <div class="col-5">
                                                    <div class="question-text float-start">
                                                        Location: 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class = "">
                                                        {{i.job_location.location}}
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-5">
                                                    <div class="question-text float-start">
                                                        Team: 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class = "">
                                                       
                                                        {{i.team}}
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <div class="row pt-3">
                                                <div class="col-5">
                                                    <div class="question-text float-start">
                                                        Remote Balance: 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class = "">
                                                       
                                                        {{i.remote}} (Days In The Office A Week)
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <div class="row pt-3">
                                                <div class="col-5">
                                                    <div class="question-text float-start">
                                                        Wage: 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class = "">
                                                       
                                                        £{{i.wage}}
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-5">
                                                    <div class="question-text float-start">
                                                        Manager's Name: 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class = "">
                                                       
                                                        {{i.manager_name}}
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-5">
                                                    <div class="question-text float-start">
                                                        Manager's Email: 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class = "">
                                                       
                                                        {{i.email }}
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            
                                        
                                            
                                            

                                            


                                            
    
                                        </div>
                                    </div>










                                        





                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>
                {% endfor %}
        </div>
        </div>
    </div>
</div>


<div class = "sidebarchoice">


{% csrf_token %}
<div class="row text-center mt-2 mb-2">
    <div class="title-text">Rank your preferences</div>

</div>





<form class="sortable" hx-post = "{% url 'dashboard:sort' %}" hx-trigger="end" hx-target = "#dashboard-pref">

    {% for intern_preference in intern_preferences %}
    <div>
        <div class = "choiceselection p-1 m-2 ">
        
            <input type='hidden' name='preference_order' value='{{ intern_preference.pk }}'/>
            #{{intern_preference.preference}} {{intern_preference.job.name}}
            <i class='bx bx-menu float-end'></i>
        </div>
    </div>


    {% endfor %}
  </form>
</div>