{% extends "base.html" %}


{% block content %}
<header>
    <title>Intern Dashboard | Gradrotate</title>
  </header>


<header>
    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>


</header>


<main>
    <div class = "progress-with-nav">
        <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 80%; background-color: #5A9B95;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>










    <div>
    
</div>  
    



</div>
</main>


<!-- New section 
<div class = "sidebarchoice">-->
    <section id ="dashboard-pref">
       {% include 'dashboard/dashboard-pref.html' with zippedlist2=zippedlist2 %}
       
        


    </section>
</div>








<div class="save-bar">
    <div style = "display: flex;
    justify-content: center; ">

        
            <a href="../../form/student_form/skills" class="back-button p-2 m-2 text-center" style="display: inline;text-decoration:none">Back</a>
            
            <a href="../../form/student_form/complete" class="save-button p-2 m-2 text-center" style="display: inline;text-decoration:none">Save and continue</a>
    
            
            
          
    </div>
</div>


{% endblock %}

