{% extends "base.html" %}


{% block content %}

<header>
    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>


</header>


<main>
    <div class = "progress-with-nav">
        <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 80%; background-color: #5A9B95;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>



<!-- Want to have a sidenav bar with all the options on the left -->

    
    <!-- Want another mini nav bar -->
    <!--
    <div class="mini-nav-bar" style="position:fixed;">
        <div class="row ">
            
            <div class="col-11">
                <h1 class ="text-center">Job Preferences</h1>
            </div>
            <div class="col-1">
                <button class="btn btn-secondary btn-block text-center  mb-4 m-1 float-end"><a href="../../form/student_form/skills">Back</a></button>
            </div>

          </div>
        

    </div>
    -->
    

    <!--
    <div class = "progress-with-nav">
    <div class="progress">
        <div class="progress-bar " role="progressbar" style="width: 80%; background-color: #5A9B95;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    -->

        <!--
      <row>
        <div class="card shadow-sm border-0 rounded m-4 p-4 mx-auto" style="max-width: 45rem;">
            <div class="card-body ">
                <p class="h3 float-start"style = "padding: 5px 5px 5px; color:#6c757d;">
                    <i class="fa fa-bars" id="btn1"></i>
                </p>
                
                <h1 class="float-end">List your Job preferences</h1>
            </div>
            <button><a href="../../form/student_form/skills">Back</a></button>
            
        </div>

    </row>
    -->

    <!--
    <script>
        let btn = document.querySelector("#btn1");
        let sidebar = document.querySelector(".sidebarchoice");
        btn.onclick = function() {
            sidebar.classList.toggle("active");
        }
    </script>  
    -->






    <div>
    
</div>  
    
<!-- Main content here-->


</div>
</main>


<!-- New section 
<div class = "sidebarchoice">-->
    <section id ="dashboard-pref">
       {% include 'dashboard/dashboard-pref.html' with zippedlist2=zippedlist2 %}
       
        


    </section>
</div>








<div class="save-bar">
    <div style = "display: flex;
    justify-content: center; ">

        
            <a href="../../form/student_form/skills" class="back-button p-2 m-2 text-center" style="display: inline;text-decoration:none">Back</a>
            
            <a href="../../form/student_form/complete" class="save-button p-2 m-2 text-center" style="display: inline;text-decoration:none">Save and continue</a>
    
            
            
          
    </div>
</div>


{% endblock %}

