<!DOCTYPE html>
{% load static %}

<html>

    <head>
        
        <meta name ="viewport" content = "width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class = "nav-bar">
            <input type="checkbox" id="check">
            <label for=" check" class="checkbtn">
                <i class="fa fa-bars"></i>
            </label>

            <label class="logo">Gradrotate</label>
            <ul>
                
                
                
                {% if request.user.is_authenticated %}
                
                <li><a href="../../logout">Logout</a></li>

                {% else %}

                <li><a href="/">Login</a></li>

                {% endif %}
            </ul>
            
        </nav>

      
        
        {% block content %} 


        {% endblock %}

    </body>

</html>



