<!DOCTYPE html>
{% load static %}

<html>
    
    <head>
        <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
        <!--<title>Gradrotate</title>-->
        <meta name ="viewport" content = "width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class = "nav-bar">
            <input type="checkbox" id="check">
            <label for=" check" class="checkbtn">
                <i class="fa fa-bars"></i>
            </label>

            <!--<label class="logo">Gradrotate</label> -->
            {% if request.user.is_authenticated %}
            
            <img src = "{% static '/images/GradrotateLogo.png' %}"width="250" height="50" style = "margin: 5px;">
            
            {% else %}
            <a href="../../../../../../">
            <img src = "{% static '/images/GradrotateLogo.png' %}"width="250" height="50" style = "margin: 5px;">
            </a>

            {% endif %}
            

            


            <ul>
                
                
                
                {% if request.user.is_authenticated %}
                
                <li><a href="../../../logout">Logout</a></li>

                {% else %}

                <li><a href="../../../login">Login</a></li>
                <li><a href="../../../register">Sign Up</a></li>
                

                {% endif %}
            </ul>
            
        </nav>

      
        
        {% block content %} 


        {% endblock %}

    </body>

</html>



