<!DOCTYPE html>
{% load static %}

<html>

    <head>
        
        <meta name ="viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for=" check" class="checkbtn">
                <i class="fa fa-bars"></i>
            </label>

            <label class="logo">Gradrotate</label>
            <ul>
                <li><a class = "active" href="#">Login</a></li>
                <li><a href="#">Student form</a></li>
                <li><a href="#">Manager form</a></li>
                <li><a href="#">Admin interface</a></li>
                <li><a href="../logout">Logout</a></li>
            </ul>
            <span class="message" > hello, {{request.user}}</span>
        </nav>

      
        <hr>
        {% block content %} 


        {% endblock %}

    </body>

</html>



